<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">   
    <title>CryptoCurrency</title>
</head>
<body>
    <header class="header">   
        <h1>CryptoCurrency</h1>
    <div>
         <ul>
                <li>
                    <a href="/signup">Sign Up</a>
                </li>
                <li>
                     <a href="login">Log In</a>
                </li>
                 <li>
                     <a href="home">User home</a>
                </li>
            </ul>
        </div>
        <p>The Current Crypto Currency Prices By CoinGecko</p>
    </header>
    <div>
    <img src="css/img/bitcoin.jpg" alt="Gold Bitcoin" class="center">
    </div>
    <footer class="footer">
        <h3>Crypto Currency</h3>
               &copy; 2021 - 2022 
           </p>
       </footer>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <script src="./js/login.js"></script>
  <script src="./js/logout.js"></script>
  <script src="./js/home.js"></script>
   </body>
</html>