*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
}

body {
    background-color: black;
}
.header {
    padding: 18px;
    font-family: 'Share Tech Mono', monospace;
    background-color:black;
    color:lawngreen;

}
.header h1 {
    display: inline-block;
    font-size: 55px;
    padding-left: 40px;
    padding-bottom: 30px;
}
.header div {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
}
.header div ul {
    list-style-type: none;
}
.header div ul li {
    display: inline-block;
    margin-left: 25px;
    font-style: italic;
}
a {
    color:red;
    text-decoration: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0rem;
}

p {
    text-align: center;
    padding-top: 4px;
    color:lawngreen;
    font-family: 'Share Tech Mono', monospace;
    font-size: 24px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 800px;
}
label {
    width: 100px;
    display: inline-block;
    color: black ;
}

.col-md-6 {
    color: lawngreen;
    background-color: black ;
}

.form-input {
    background-color: white;
}

footer {
    color: lawngreen;

}
label {
    color: lawngreen;
}